.FirstContent {

    text-align: right;
    background-image: url('../../assets/fondodeveloper.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -35px
}

.FirstContent img {

    width: 300px;
    height: 300px;
    margin-top: -45px;
    margin-right: 250px;


}

.FirstContent h1 {

    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-right: 180px;
    margin-top: -75px;
    padding-bottom: 10px;
    color: rgb(136, 180, 255);
    -webkit-text-stroke: 1px black;

}

.Introduction p {
    padding: 20px;
}

.Introduction img {
    float: left;
    width: 450px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px
}